<div class="container p-3">
    <div class="row justify-content-center  text-center">
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-number">
                        {{ createdCount }}
                    </h5>
                    <p class="card-text">Created</p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-number">
                        {{ updatedCount }}
                    </h5>
                    <p class="card-text">Updated</p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-number">
                        {{ deletedCount }}
                    </h5>
                    <p class="card-text">Deleted</p>
                </div>
            </div>
        </div>

    </div>
</div>