<div class="d-flex justify-content-center card shadow-sm p-3">
    <div class="container">

        <div class="col mb-3">
            <div class="row">
                <div class="col">
                    <a routerLink="/add-category" type="button" class="btn btn-primary btn-block w-100">Add Category</a>
                </div>
                <div class="col">
                    <a routerLink="/list-categories" type="button" class="btn btn-primary btn-block w-100">List
                        Category</a>
                </div>
                <div class="col">
                    <a routerLink="/delete-category" type="button" class="btn btn-primary btn-block w-100">Delete
                        Category</a>
                </div>
                <div class="col">
                    <a routerLink="/display-category" type="button" class="btn btn-primary btn-block w-100">Display
                        Category</a>
                </div>
                <div class="col">
                    <a routerLink="/update-category" type="button" class="btn btn-primary btn-block w-100">Update
                        Category</a>
                </div>
                <div class="col">
                    <a routerLink="/text-to-speech" type="button" class="btn btn-primary btn-block w-100">Text To
                        Speech</a>
                </div>
                <div class="col">
                    <a routerLink="/g1-stats" type="button" class="btn btn-primary btn-block w-100">G1
                        Stats</a>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="row">
                <div class="col">
                    <a routerLink="/add-event" type="button" class="btn btn-primary btn-block w-100">Add Event</a>
                </div>
                <div class="col">
                    <a routerLink="/list-events" type="button" class="btn btn-primary btn-block w-100">List Event</a>
                </div>
                <div class="col">
                    <a routerLink="/delete-event" type="button" class="btn btn-primary btn-block w-100">Delete Event</a>
                </div>
                <div class="col">
                    <a routerLink="/display-event" type="button" class="btn btn-primary btn-block w-100">Display
                        Event</a>
                </div>
                <div class="col">
                    <a routerLink="/update-event" type="button" class="btn btn-primary btn-block w-100">Update Event</a>
                </div>
                <div class="col">
                    <a routerLink="/translate" type="button" class="btn btn-primary btn-block w-100">Translator</a>
                </div>
                <div class="col">
                    <a routerLink="/g2-stats" type="button" class="btn btn-primary btn-block w-100">G2
                        Stats</a>
                </div>
            </div>
        </div>
    </div>
</div>