<div class="text-center">
    <h1 class="my-2">Update Category</h1>
    <h6>Fill in or edit category details & click update</h6>
</div>
<div class="row row-cols-1 row-cols-sm-2 g-3 justify-content-center p-3">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <form (ngSubmit)="updateCategory()" #addCategoryForm="ngForm">
                    <div class="mb-3">
                        <label for="title" class="form-label">Category Name</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName"
                            placeholder="Enter category name" [(ngModel)]="categoryName" required />
                    </div>

                    <div class="mb-3">
                        <label>Description</label>
                        <input type="text" class="form-control" id="categoryDescription" name="categoryDescription"
                            placeholder="Enter categrory description" [(ngModel)]="categoryDescription" />
                    </div>

                    <div class="mb-3">
                        <label>Image</label>
                        <input type="text" class="form-control" id="categoryImage" name="categoryImage"
                            placeholder="Enter static resource path" [(ngModel)]="categoryImage" />
                    </div>

                    <button type="submit" class="btn btn-primary" name="categoryUpdateSubmit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card shadow-sm">
    <div class="card-body">
        <div class="row row-cols-1 g-3 album py-6">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image Path</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let category of eventCategories">
                            <td><b>{{ category.id }}</b></td>
                            <td>{{ category.name | tocapital }}</td>
                            <td>{{ category.description }}</td>
                            <td>{{ category.image }}
                                <img [src]="category.image" width="20%" height="15%" />
                            </td>
                            <td>{{ category.createdDate | date: 'medium' }}</td>
                            <td>
                                <a (click)="setData(category.id, category.name,category.description,category.image )"
                                    class="btn btn-primary" role="button">Select</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>